import { Injectable } from '@angular/core';
import { HttpClient, HttpParams } from '@angular/common/http';
import { Observable } from 'rxjs';

{{#imports}}
import { {{name}} } from './{{filePath}}';
{{/imports}}

@Injectable({providedIn: 'root'})
export class {{serviceName}} {
    private baseUrl = '{{{baseUrl}}}';
    constructor(private http: HttpClient) { }

    {{#operations}}
    /**
     *@return: {{returnType}}
     {{#parameters}}
     *@name: {{operationId}},
     *@param: {{name}}: {{schema}},
     {{/parameters}}
     {{#description.length}}*{{#description}}@description: {{.}}{{/description}}{{/description.length}}
     {{#summary.length}}*{{#summary}}Summary: {{.}}{{/summary}}{{/summary.length}}
     {{#tags.length}}*{{#tags}}Tags: {{.}}{{/tags}}{{/tags.length}}
    **/
    public {{operationId}}(
        {{#parameters}}
        {{name}}: {{schema}},
        {{/parameters}}
    ): Observable<{{returnType}}> {
        {{#httpParams.length}}
        let params = new HttpParams();
        {{#httpParams}}
        params = params.set('{{.}}', ''+{{.}});
        {{/httpParams}}
        {{/httpParams.length}}

        return this.http.{{method}}<{{returnType}}>(
        `${this.baseUrl}{{{endPoint}}}`{{#body.length}}, { {{#body}} {{#isComplex}} ...{{key}} {{/isComplex}} {{^isComplex}} {{key}} {{/isComplex}} {{/body}} } {{/body.length}}{{#httpParams.length}},{{/httpParams.length}}
        {{#httpParams.length}}{params}{{/httpParams.length}});
    }

    {{/operations}}
}
